<div class="dish <%= @dish.css_class_name %>">
    <%= form_for(@dish, :remote => true, :'data-type' => :html) do |f| %>
        <div class="dish_category">
            <%= @dish.category %>
        </div>

        <div class="dish_title">
            <%= f.text_field :title, :placeholder => @dish.category, :disabled => true %>
        </div>
        <div class="dish_body">
            <%= f.text_field :body, :placeholder => "説明文" %>
        </div>
    <% end %>
</div>
