<div class="row-fluid">
    <div class="span10">

        <div class="cover">
            
        </div>

        <div class="fullcourse <%= @course.theme.css_class_name %>"
             style="background-image: url(<%= @course.theme.cover.url(:full) %>)">

            <div class="course_title">
                <%= form_for @course do |f| %>
                    <%= f.text_field :title %>
                <% end %>
            </div>

            <% for @dish in @course.dishes %>
                <%= render "dishes/content"  %>
            <% end %>

        </div>
    </div>

    <div class="span2">
        <button class="btn btn-large btn-block" type="button">Add Picture</button>
        <button class="btn btn-large btn-block" type="button">Change Background</button>
        <button class="btn btn-large btn-block" type="button">印刷する</button>
    </div>
</div>


