<div class="row-fluid">
    <% for theme in @themes %>
        <div class="span4">
            <%= form_for theme, :url => {:action => :theme}, :html => {:method => :post}  do |f| %>
            <h4><%= theme.title %></h4>
            <%= f.hidden_field :id %>
            <p>
                <%= image_tag theme.cover.url(:medium), :class=>"span4" %>
            </p>
            <div class="actions">
                <%= f.submit %>
            </div>
    <% end %>
    </div>
    <% end %>
</div>
