<!DOCTYPE html>
<html>
<head>
  <title>Yes! Course!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container">
        <div class="noprint">

            <div>
                <h3 class="muted">
                    <%= link_to "Yes! Course!", root_path %>
                </h3>
            </div>
            <div class="masthead">
                <% if user_signed_in? %>
                    <div>
                        <%= link_to "My Page (" + current_user.username + ")", mypage_courses_path  %>
                    </div>
                    <div>
                        <%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
                    </div>
                <% elsif %>
                    <div class="active">
                        <%= link_to "Login", new_user_session_path %>
                    </div>
                <% end %>
            </div>

            <hr>

            <p id="notice"><%= notice %></p>

        </div>

        <%= yield %>

        <div class="noprint">
            <hr>

            <div class="footer">
                <p>© トリコース 2013</p>
            </div>

        </div>

    </div>

</body>
</html>
